<div class="container">
	<!--<h1 class="text-center">Jehvnar Tools</p>-->
	<ul class="nav justify-content-center">
		<li class="nav-item">
			<a class="nav-link" href="/">Calendar</a> <!-- for now the calendar will be on index.html -->
		</li>
		<li class="nav-item">
			<a class="nav-link" href="/dictionary">Dictionary</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="/transliterator">Transliterator</a>
		</li>
		<li class="nav-item">
			<a class="nav-link disabled" href="/translator">Language Translator (soon)</a>
		</li>
	</ul>
</div>
