<html>
<head>
<%- include("./partials/_head"); %>
</head>

<body>
<div class="container-fluid">
	<%- include("./partials/_nav"); %>

	<div class="container">
		<div class="bg-light p-5 mb-3">
			<h2>Translator</h2>
			<p>Note: Machine translations are not perfect (yet!!).</p>
			
			<!--translation boxes appear here -->
			<div class="row">
				<div class="col-sm-6">
					<div class="form-group">
						<!-- Language selection -->
						<!--
						<label for="input-lang">Input language:</label>
						<select class="form-control" id="input-lang">
							<option value="commonspeak-plain">Commonspeak (plain)</option>
							<option value="commonspeak-weskethian">Commonspeak (Weskethian)</option>
							<option value="minamic">Minamic (Transliterate only)</option>
						</select>
						-->
						
						<!-- Translation input form -->
						<form action="/translator" method="get">
							<!-- Translation input -->
							<textarea class="form-control" placeholder="Enter text here" rows="15" name="inputText" id="inputText"></textarea>
							<!-- Translation options -->
							<label for="outputLang">Output language:</label>
							<select class="form-control mb-3" name="outputLang">
								<option value="commonspeak-weskethian" name="commonspeakWeskethian">Commonspeak (Weskethian)</option>
							</select>
							<input type="submit" name="submit" id="submit" class="btn btn-primary"/>
						</form>
					</div>
				</div>
				<div class="col-sm-6">
						<!-- Language selection -->
					<div class="form-group">					
						<!-- Translation output -->
						<textarea class="form-control" placeholder="Output text" rows="15" id="outputText"></textarea>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
$( document ).ready(function() {
	<!-- Put in output text -->
	<% if(typeof translatedText !== "undefined") { // If there is translated text %>
		let translatedText = <%- JSON.stringify(translatedText); %>
	<% } %>

	translatedText = translatedText.trim();
	translatedText = translatedText.replace(/\n/g, "");
	translatedText = translatedText.replace(/"/g, "");
	translatedText = translatedText.replace(/\\/g, ""); 
	translatedText = translatedText.replace(/Output:/g, "");
	
	$('#outputText').html(translatedText);
	
	<!-- Put in input text -->
	<% if(typeof inputText !== "undefined") { // If there is translated text %>
		let inputText = <%- JSON.stringify(inputText); %>
	<% } %>
	
	$('#inputText').html(inputText);
});

$('#submit').click(function() {
	$('#outputText').html('Translating...');
});
</script>
</body>
</html>