<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="UTF-8">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="style.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
</head>

<body>
<div class="container-fluid">
	<div class="container">
	<!--<h1 class="text-center">Jehvnar Tools</p>-->
		<ul class="nav justify-content-center">
			<li class="nav-item">
				<a class="nav-link" href="/index.html">Calendar</a> <!-- for now the calendar will be on index.html -->
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/translator.html">Language Translator (soon)</a>
			</li>
		</ul>
	</div>

	<div class="container">
		<div class="bg-light p-5 mb-3">
			<h2>Translator</h2>
			
			<!--translation boxes appear here -->
			<div class="row">
				<div class="col-sm-6">
					<div class="form-group">
						<!-- Language selection -->
						<!--
						<label for="input-lang">Input language:</label>
						<select class="form-control" id="input-lang">
							<option value="commonspeak-plain">Commonspeak (plain)</option>
							<option value="commonspeak-weskethian">Commonspeak (Weskethian)</option>
							<option value="minamic">Minamic (Transliterate only)</option>
						</select>
						-->
						
						<!-- Translation input -->
						<textarea class="form-control" placeholder="Enter text here" rows="15" id="input-text"></textarea>
					</div>
				</div>
				<div class="col-sm-6">
						<!-- Language selection -->
						<div class="form-group">
						<label for="output-lang">Output language:</label>
							<select class="form-control" id="output-lang">
								<option value="commonspeak-weskethian">Commonspeak (Weskethian)</option>
								<option value="commonspeak-plain">Commonspeak (plain)</option>
								<option value="minamic">Minamic (Transliterate only)</option>
							</select>
							
						<!-- Translation output -->
						<textarea class="form-control" placeholder="Output text" rows="15" id="output-text"></textarea>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
function minamiTranslate(s) {
	// Transliterate
	s = s.replace(/あ/g, '安');
	s = s.replace(/い/g, '以');
	s = s.replace(/う/g, '宇');
	s = s.replace(/え/g, '衣');
	s = s.replace(/お/g, '於');

	s = s.replace(/か/g, '加');
	s = s.replace(/き/g, '機');
	s = s.replace(/く/g, '久');
	s = s.replace(/け/g, '計');
	s = s.replace(/こ/g, '己');

	s = s.replace(/さ/g, '左');
	s = s.replace(/し/g, '之');
	s = s.replace(/す/g, '寸');
	s = s.replace(/せ/g, '世');
	s = s.replace(/そ/g, '曽');

	s = s.replace(/た/g, '太');
	s = s.replace(/ち/g, '知');
	s = s.replace(/つ/g, '川');
	s = s.replace(/て/g, '天');
	s = s.replace(/と/g, '止');

	s = s.replace(/な/g, '奈');
	s = s.replace(/に/g, '仁');
	s = s.replace(/ぬ/g, '奴');
	s = s.replace(/ね/g, '袮');
	s = s.replace(/の/g, '乃');

	s = s.replace(/は/g, '波');
	s = s.replace(/ひ/g, '比');
	s = s.replace(/ふ/g, '不');
	s = s.replace(/へ/g, '部');
	s = s.replace(/ほ/g, '保');

	s = s.replace(/ま/g, '未');
	s = s.replace(/み/g, '美');
	s = s.replace(/む/g, '武');
	s = s.replace(/め/g, '女');
	s = s.replace(/も/g, '毛');

	s = s.replace(/や/g, '也');
	s = s.replace(/ゆ/g, '由');
	s = s.replace(/よ/g, '与');

	s = s.replace(/ら/g, '良');
	s = s.replace(/り/g, '利');
	s = s.replace(/る/g, '留');
	s = s.replace(/れ/g, '礼');
	s = s.replace(/ろ/g, '呂');

	s = s.replace(/わ/g, '和');
	s = s.replace(/を/g, '遠');

	s = s.replace(/ん/g, '无');
	
	s = s.replace(/が/g, '加');
	s = s.replace(/ぎ/g, '機');
	s = s.replace(/ぐ/g, '久');
	s = s.replace(/げ/g, '計');
	s = s.replace(/ご/g, '己');

	s = s.replace(/ざ/g, '左');
	s = s.replace(/じ/g, '之');
	s = s.replace(/ず/g, '寸');
	s = s.replace(/ぜ/g, '世');
	s = s.replace(/ぞ/g, '曽');

	s = s.replace(/だ/g, '太');
	s = s.replace(/ぢ/g, '知');
	s = s.replace(/づ/g, '川');
	s = s.replace(/で/g, '天');
	s = s.replace(/ど/g, '止');

	s = s.replace(/ば/g, '波');
	s = s.replace(/び/g, '比');
	s = s.replace(/ぶ/g, '不');
	s = s.replace(/べ/g, '部');
	s = s.replace(/ぼ/g, '保');
	
	s = s.replace(/ぱ/g, '波');
	s = s.replace(/ぴ/g, '比');
	s = s.replace(/ぷ/g, '不');
	s = s.replace(/ぺ/g, '部');
	s = s.replace(/ぽ/g, '保');
	
	s = s.replace(/ア/g, '安');
	s = s.replace(/イ/g, '以');
	s = s.replace(/ウ/g, '宇');
	s = s.replace(/エ/g, '衣');
	s = s.replace(/オ/g, '於');

	s = s.replace(/カ/g, '加');
	s = s.replace(/キ/g, '機');
	s = s.replace(/ク/g, '久');
	s = s.replace(/ケ/g, '計');
	s = s.replace(/コ/g, '己');

	s = s.replace(/サ/g, '左');
	s = s.replace(/シ/g, '之');
	s = s.replace(/ス/g, '寸');
	s = s.replace(/セ/g, '世');
	s = s.replace(/ソ/g, '曽');

	s = s.replace(/タ/g, '太');
	s = s.replace(/チ/g, '知');
	s = s.replace(/ツ/g, '川');
	s = s.replace(/テ/g, '天');
	s = s.replace(/ト/g, '止');

	s = s.replace(/ナ/g, '奈');
	s = s.replace(/ニ/g, '仁');
	s = s.replace(/ヌ/g, '奴');
	s = s.replace(/ネ/g, '袮');
	s = s.replace(/ノ/g, '乃');

	s = s.replace(/ハ/g, '波');
	s = s.replace(/ヒ/g, '比');
	s = s.replace(/フ/g, '不');
	s = s.replace(/ヘ/g, '部');
	s = s.replace(/ホ/g, '保');

	s = s.replace(/マ/g, '未');
	s = s.replace(/ミ/g, '美');
	s = s.replace(/ム/g, '武');
	s = s.replace(/メ/g, '女');
	s = s.replace(/モ/g, '毛');

	s = s.replace(/ヤ/g, '也');
	s = s.replace(/ユ/g, '由');
	s = s.replace(/ヨ/g, '与');

	s = s.replace(/ラ/g, '良');
	s = s.replace(/リ/g, '利');
	s = s.replace(/ル/g, '留');
	s = s.replace(/レ/g, '礼');
	s = s.replace(/ロ/g, '呂');

	s = s.replace(/ワ/g, '和');
	s = s.replace(/ヲ/g, '遠');

	s = s.replace(/ン/g, '无');
	
	s = s.replace(/ガ/g, '加');
	s = s.replace(/ギ/g, '機');
	s = s.replace(/グ/g, '久');
	s = s.replace(/ゲ/g, '計');
	s = s.replace(/ゴ/g, '己');

	s = s.replace(/ザ/g, '左');
	s = s.replace(/ジ/g, '之');
	s = s.replace(/ズ/g, '寸');
	s = s.replace(/ゼ/g, '世');
	s = s.replace(/ゾ/g, '曽');

	s = s.replace(/ダ/g, '太');
	s = s.replace(/ヂ/g, '知');
	s = s.replace(/ヅ/g, '川');
	s = s.replace(/デ/g, '天');
	s = s.replace(/ド/g, '止');

	s = s.replace(/バ/g, '波');
	s = s.replace(/ビ/g, '比');
	s = s.replace(/ブ/g, '不');
	s = s.replace(/ｂｒ/g, '部');
	s = s.replace(/ボ/g, '保');
	
	s = s.replace(/パ/g, '波');
	s = s.replace(/ピ/g, '比');
	s = s.replace(/プ/g, '不');
	s = s.replace(/ペ/g, '部');
	s = s.replace(/ポ/g, '保');
	
	return s;
}
</script>
<script>
// todo
// Default input languages
let inputLang = 'commonspeak-plain';
let outputLang = 'commonspeak-weskethian';

// Clear the output of the translator
let clearOutput = () => {
	$('#output-text').val('');
}

let startTranslate = () => {
	let inputText = $('#input-text').val();
	let outputText;
		
	// If the input text is the same as the output text then just copy over the same text to the output
	if (inputLang == outputLang) {
		$('#output-text').val(inputText);
	} else {
		clearOutput();

		console.log('About to translate!!', 'from:', inputLang, 'to:', outputLang, 'text:', inputText);
			
		// Do some translating
		if (outputLang == 'minamic') {outputText = minamiTranslate(inputText); } // Minami translate
			
		// Apply resulting output text to output text window
		$('#output-text').val(outputText);
	}
}


// When input language changes
$('#input-lang').change(function() {
    inputLang = $(this).val();
	clearOutput();
});

// When output language changes
$('#output-lang').change(function() {
    outputLang = $(this).val();
	clearOutput();
});

// When input language changes
$(document).ready((event) => {
    $('#input-text').on('input', function(event) {
		startTranslate();
	});
});
</script>
</body>
</html>